@{
    Layout = "Shared/_Layout.cshtml";
}
<div class="my-container row">
    <div class="left-side col s4 well my-box">
        <h2>Bands</h2>
        <div class="add-band">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">
                        Add a Band
                    </div>
                    <div class="collapsible-body">
                        <form action="/bands" method="post">
                            <input type="text" name="new-band" placeholder="New Band Name" required>
                            <button class="btn" type="submit" name="button">Add Band</button>
                        </form>
                    </div>
                </li>
            </ul>

        </div>
        @if(Model["bands"].Count == 0)
        {
            <h4>
                There are no bands listed
            </h4>
        }
        else
        {
            <ul>
                @foreach(var band in Model["bands"])
                {
                    <a href="bands/@band.GetId()"><h4>@band.GetName()</h4></a>
                }
            </ul>
        }
    </div>
    <div class="center-box my-box">
        <div class="search-box">
            <div class="nav-wrapper indigo lighten-2">
                <form class="" action="/search" method="get">
                    <div class="input-field">
                        <input id="search" type="search" placeholder="Search for a band or venue" name="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="right-side col s4 offset-s4 well my-box">
        <h2>Venues</h2>
        <div class="add-venue">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">
                        Add a Venue
                    </div>
                    <div class="collapsible-body">
                        <form action="/venues" method="post">
                            <input type="text" name="new-venue" placeholder="New Venue Name" required>
                            <button class="btn" type="submit" name="button">Add Venue</button>
                        </form>
                    </div>
                </li>
            </ul>

        </div>
        @if(Model["venues"].Count == 0)
        {
            <h4>
                There are no venues listed
            </h4>
        }
        else
        {
            <ul>
                @foreach(var venue in Model["venues"])
                {
                    <a href="venues/@venue.GetId()"><h4>@venue.GetName()</h4></a>
                }
            </ul>
        }
    </div>
</div>
