html, body {
    height: 100%;
    background-color: #eff2da;
}

div.small-object {
    padding: 20px;
}

span.brand-logo {
    padding-left: 30px;
}

.topper {
    position: fixed;
    top: 0px;
    left: 0px;
}

.my-container {
    margin: 0 auto;
    width: 95%;
    height: 100%;
}

.my-box {
    height: 100%;
    margin-top: 10px;
}

.center-box {
    top: 300px;
    left: 35%;
    width: 30%;
    position: fixed;
}
