/*html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.content {
    height: 100%;
}

.right-side {
    float: right;
    width: 50%;
    background: blue;
    height: 100%;
    overflow: scroll;
}*/
